<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="items()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'email', 'phone', 'address', 'role']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Users</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="name" style="min-width: 16rem">
                Name
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="email" style="min-width: 16rem">
                Email
                <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="phone" style="min-width: 16rem">Phone</th>
            <th pSortableColumn="address" style="min-width: 20rem">Address</th>
            <th pSortableColumn="role" style="min-width: 12rem">Role</th>

            <th style="min-width: 12rem; text-align: center">Action</th>
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="item" />
            </td>
            <td style="min-width: 16rem">{{ item.name }}</td>

            <td style="min-width: 16rem">{{ item.email }}</td>
            <td style="min-width: 16rem">{{ item.phone }}</td>
            <td style="min-width: 20rem">{{ item.address }}</td>
            <td style="min-width: 12rem">{{ item.role }}</td>
            <td style="min-width: 12rem; text-align: center">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="handleEdit(item)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteItem(item)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialog" [style]="{ width: '600px' }" [header]="isAddMode ? 'Add User' : 'Edit User'" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="role" class="block font-bold mb-3">Role</label>
                <p-select [options]="roles" optionLabel="name" optionValue="name" id="role" [(ngModel)]="item.role" placeholder="Select a Role" fluid appendTo="body"></p-select>
                <small class="text-red-500" *ngIf="submitted && !item.role">Role is required.</small>
            </div>

            <div>
                <label for="name" class="block font-bold mb-3">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="item.name" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.name">Name is required.</small>
            </div>
            <div>
                <label for="email" class="block font-bold mb-3">Email</label>
                <input type="text" pInputText id="email" [(ngModel)]="item.email" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.email">Email is required.</small>
            </div>

            <div *ngIf="isAddMode">
                <label for="password" class="block font-bold mb-3">Password</label>
                <p-password id="password" [(ngModel)]="item.passwordHash" [toggleMask]="true" required autofocus fluid></p-password>
                <small class="text-red-500" *ngIf="submitted && !item.passwordHash">Password is required.</small>
            </div>

            <div>
                <label for="phone" class="block font-bold mb-3">Phone</label>
                <input type="text" pInputText id="phone" [(ngModel)]="item.phone" autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.phone">Phone is required.</small>
            </div>

            <div>
                <label for="address" class="block font-bold mb-3">Address</label>
                <input type="text" pInputText id="address" [(ngModel)]="item.address" autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.address">Address is required.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveItem()" />
    </ng-template>
</p-dialog>
