<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="items()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['diagnosis', 'treatment', 'notes', 'vetName', 'petName']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Health Records</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="mr-3" />
                <p-date-picker [(ngModel)]="dateFilterFrom" dateFormat="yy-mm-dd" (onSelect)="onDateFilter(dt)" placeholder="From Date" showIcon="true" [iconDisplay]="'input'" class="mr-3" />
                <p-date-picker [(ngModel)]="dateFilterTo" dateFormat="yy-mm-dd" (onSelect)="onDateFilter(dt)" placeholder="To Date" showIcon="true" [iconDisplay]="'input'" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="vetName" style="min-width: 16rem">Veterinarian</th>
            <th pSortableColumn="petName" style="min-width: 16rem">Pet</th>
            <th pSortableColumn="diagnosis" style="min-width: 16rem">Diagnosis</th>
            <th pSortableColumn="treatment" style="min-width: 16rem">Treatment</th>
            <th pSortableColumn="notes" style="min-width: 20rem">Notes</th>
            <th pSortableColumn="createdAt" style="min-width: 16rem">Date</th>
            <th style="min-width: 12rem; text-align: center">Action</th>
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="item" />
            </td>
            <td style="min-width: 16rem">{{ item.vetName }}</td>
            <td style="min-width: 16rem">{{ item.petName }}</td>
            <td style="min-width: 16rem">{{ item.diagnosis }}</td>
            <td style="min-width: 16rem">{{ item.treatment }}</td>
            <td style="min-width: 20rem">{{ item.notes }}</td>
            <td style="min-width: 16rem">{{ item.createdAt | date: 'yyyy-MM-dd' }}</td>
            <td style="min-width: 12rem; text-align: center">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="handleEdit(item)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteItem(item)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialog" [style]="{ width: '600px' }" [header]="isAddMode ? 'Add Health Record' : 'Edit Health Record'" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="diagnosis" class="block font-bold mb-3">Diagnosis</label>
                <input type="text" pInputText id="diagnosis" [(ngModel)]="item.diagnosis" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.diagnosis">Diagnosis is required.</small>
            </div>

            <div>
                <label for="treatment" class="block font-bold mb-3">Treatment</label>
                <textarea id="treatment" pTextarea [(ngModel)]="item.treatment" rows="3" cols="20" required autofocus fluid></textarea>
                <small class="text-red-500" *ngIf="submitted && !item.treatment">Treatment is required.</small>
            </div>

            <div>
                <label for="notes" class="block font-bold mb-3">Notes</label>
                <textarea id="notes" pTextarea [(ngModel)]="item.notes" rows="3" cols="20" fluid></textarea>
            </div>

            <div>
                <label for="createdAt" class="block font-bold mb-3">Create Date</label>
                <p-date-picker id="createdAt" [(ngModel)]="item.createdAt" dateFormat="yy-mm-dd" [minDate]="currentDate" showIcon="true" [iconDisplay]="'input'" placeholder="Select Date" fluid></p-date-picker>
                <small class="text-red-500" *ngIf="submitted && !item.createdAt">Create Date is required.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveItem()" />
    </ng-template>
</p-dialog>
