<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="items()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['status', 'serviceName', 'ownerName', 'petName']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Appointments</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="mr-3" />
                <p-date-picker [(ngModel)]="dateFilterFrom" dateFormat="yy-mm-dd" (onSelect)="onDateFilter(dt)" placeholder="From Date" showIcon="true" [iconDisplay]="'input'" class="mr-3" />
                <p-date-picker [(ngModel)]="dateFilterTo" dateFormat="yy-mm-dd" (onSelect)="onDateFilter(dt)" placeholder="To Date" showIcon="true" [iconDisplay]="'input'" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="serviceName" style="min-width: 16rem">Service</th>
            <th pSortableColumn="ownerName" style="min-width: 16rem">Owner</th>
            <th pSortableColumn="petName" style="min-width: 16rem">Pet</th>
            <th pSortableColumn="apptTime" style="min-width: 16rem">Date</th>
            <th pSortableColumn="status" style="min-width: 12rem">Status</th>
            <th style="min-width: 12rem; text-align: center">Action</th>
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="item" />
            </td>
            <td style="min-width: 16rem">{{ item.serviceName }}</td>
            <td style="min-width: 16rem">{{ item.ownerName }}</td>
            <td style="min-width: 16rem">{{ item.petName }}</td>
            <td style="min-width: 20rem">{{ item.apptTime | date: 'yyyy-MM-dd' }}</td>
            <td style="min-width: 12rem">{{ item.status }}</td>
            <td style="min-width: 12rem; text-align: center">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="handleEdit(item)" *ngIf="item.status === 'PENDING' || item.status === 'CONFIRMED'" />
                <p-button icon="pi pi-file-plus" class="mr-2" [rounded]="true" [outlined]="true" (click)="openAdd(item)" *ngIf="item.status === 'CONFIRMED'" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteItem(item)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialog" [style]="{ width: '600px' }" [header]="isAddRecordMode ? 'Add Health Record' : isAddMode ? 'Add Appointment' : 'Edit Appointment'" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6" *ngIf="!isAddRecordMode">
            <div>
                <label for="discovery" class="block font-bold mb-3">Service</label>
                <p-select [options]="discoveries" optionLabel="name" optionValue="id" id="discovery" [(ngModel)]="item.discoveryId" placeholder="Select a Service" fluid appendTo="body"></p-select>
                <small class="text-red-500" *ngIf="submitted && !item.discoveryId">Service is required.</small>
            </div>

            <div>
                <label for="owner" class="block font-bold mb-3">Owner</label>
                <p-select [options]="users" optionLabel="name" optionValue="id" id="owner" [(ngModel)]="item.ownerId" placeholder="Select an Owner" fluid (onChange)="onOwnerChange(item.ownerId)" appendTo="body"></p-select>
                <small class="text-red-500" *ngIf="submitted && !item.ownerId">Owner is required.</small>
            </div>

            <div>
                <label for="pet" class="block font-bold mb-3">Pet</label>
                <p-select [options]="pets" optionLabel="name" optionValue="id" id="pet" [(ngModel)]="item.petId" placeholder="Select a Pet" fluid [disabled]="!item.ownerId" appendTo="body"></p-select>
                <small class="text-red-500" *ngIf="submitted && !item.petId">Pet is required.</small>
            </div>

            <div>
                <label for="apptTime" class="block font-bold mb-3">Date</label>
                <p-date-picker id="apptTime" [(ngModel)]="item.apptTime" dateFormat="yy-mm-dd" [minDate]="currentDate" showIcon="true" [iconDisplay]="'input'" placeholder="Select Date" fluid></p-date-picker>
                <small class="text-red-500" *ngIf="submitted && !item.apptTime">Date is required.</small>
            </div>

            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select [options]="status" optionLabel="name" optionValue="code" id="status" [(ngModel)]="item.status" placeholder="Select a Status" fluid appendTo="body"></p-select>
                <small class="text-red-500" *ngIf="submitted && !item.status">Status is required.</small>
            </div>
        </div>

        <div class="flex flex-col gap-6" *ngIf="isAddRecordMode">
            <div>
                <label for="diagnosis" class="block font-bold mb-3">Diagnosis</label>
                <input type="text" pInputText id="diagnosis" [(ngModel)]="item.diagnosis" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.diagnosis">Diagnosis is required.</small>
            </div>

            <div>
                <label for="treatment" class="block font-bold mb-3">Treatment</label>
                <textarea id="treatment" pTextarea [(ngModel)]="item.treatment" rows="3" cols="20" required autofocus fluid></textarea>
                <small class="text-red-500" *ngIf="submitted && !item.treatment">Treatment is required.</small>
            </div>

            <div>
                <label for="notes" class="block font-bold mb-3">Notes</label>
                <textarea id="notes" pTextarea [(ngModel)]="item.notes" rows="3" cols="20" fluid></textarea>
            </div>

            <div>
                <label for="createdAt" class="block font-bold mb-3">Create Date</label>
                <p-date-picker id="createdAt" [(ngModel)]="item.createdAt" dateFormat="yy-mm-dd" [minDate]="currentDate" showIcon="true" [iconDisplay]="'input'" placeholder="Select Date" fluid></p-date-picker>
                <small class="text-red-500" *ngIf="submitted && !item.createdAt">Create Date is required.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveItem()" />
    </ng-template>
</p-dialog>
