<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="items()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'category', 'requirements', 'address', 'location', 'description']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Services</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="name" style="min-width: 16rem">
                Name
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="category" style="min-width: 16rem">
                Category
                <p-sortIcon field="category" />
            </th>
            <th pSortableColumn="requirements" style="min-width: 16rem">Requirements</th>
            <th pSortableColumn="address" style="min-width: 16rem">Address</th>
            <th pSortableColumn="location" style="min-width: 16rem">Location</th>
            <th pSortableColumn="description" style="min-width: 20rem">Description</th>
            <th style="min-width: 12rem; text-align: center">Action</th>
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="item" />
            </td>
            <td style="min-width: 16rem">{{ item.name }}</td>

            <td style="min-width: 16rem">{{ item.category }}</td>
            <td style="min-width: 16rem">{{ item.requirements }}</td>
            <td style="min-width: 16rem">{{ item.address }}</td>
            <td style="min-width: 16rem">{{ item.location }}</td>
            <td style="min-width: 20rem">{{ item.description }}</td>
            <td style="min-width: 12rem; text-align: center">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="handleEdit(item)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteItem(item)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialog" [style]="{ width: '600px' }" [header]="isAddMode ? 'Add Service' : 'Edit Service'" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="item.name" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.name">Name is required.</small>
            </div>

            <div>
                <label for="category" class="block font-bold mb-3">Category</label>
                <input type="text" pInputText id="category" [(ngModel)]="item.category" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.category">Category is required.</small>
            </div>

            <div>
                <label for="requirements" class="block font-bold mb-3">Requirements</label>
                <input type="text" pInputText id="requirements" [(ngModel)]="item.requirements" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.requirements">Requirements are required.</small>
            </div>

            <div>
                <label for="address" class="block font-bold mb-3">Address</label>
                <input type="text" pInputText id="address" [(ngModel)]="item.address" autofocus fluid />
            </div>

            <div>
                <label for="location" class="block font-bold mb-3">Location</label>
                <input type="text" pInputText id="location" [(ngModel)]="item.location" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !item.location">Location is required.</small>
            </div>

            <div>
                <label for="description" class="block font-bold mb-3">Description</label>
                <textarea id="description" pTextarea [(ngModel)]="item.description" rows="3" cols="20" fluid></textarea>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveItem()" />
    </ng-template>
</p-dialog>
